{% extends "blog/base.html" %} {% block title %}Create Post{% endblock %}
{%block content %}
<div>
    <h4>Category</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #F2F2F2;">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
        </ol>
      </nav>
      
    <ul class="p-0 m-0 d-flex flex-wrap gap-3">
        {% if not category %}
        <h3 class="text-danger py-2">No Post Posted Yet! in {{name}}</h3>
        {% else %} {% for post in category %}
        <li class="p-0 py-4 px-3 m-0 rounded shadow bg-white my-2" style="width: 49%">
            <a class="text-decoration-none text-black" href="{% url 'post' post.id %}">
                <h4 class="text-success">{{ post.title }}</h4>
                <p>{{ post.content|truncatewords:20 }}</p>
            </a>
            <small>By {{ post.author }} on {{ post.timestamp }}
                <p class="d-inline px-2 fw-medium">{{ post.category }}</p>
            </small><br />
            {% if post.author == user %}
            <!-- Additional actions for the post's author can be added here -->
            {% endif %}
        </li>
        {% endfor %} {% endif %}
    </ul>
</div>

{% endblock %}